{% extends 'snowReview/base_template.html' %}

{% block content %}
<style>
    .board-title {
        font-family: "Shadows Into Light", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 2.5em;
        }

        .back-button {
            background-color: black;
            border-color: black;
            outline: none !important;
        }
        .back-button:hover, .back-button:focus, .back-button:active {
            background-color: #d67609;
            border-color: #d67609;
            outline: none !important;
        }
    </style>
<h1 class="board-title text-left mt-3">Add a Snowboard</h1>
<a href="{% url 'snowboard-list' %}" class="btn btn-primary mt-3 text-left back-button">View all Snowboards</a>
<div class:"form-container">

    <form method="post" class="form-group">
        <div class="card mt-4">
            <div style="max-width: 500px; margin: auto;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                        {% if field.name == "sizes" %}
                            <div style="display: flex; flex-wrap: wrap;">
                                {% for choice in field.field.choices %}
                                    <div style="flex: 1 0 20%;">
                                        <input type="checkbox" name="{{ field.name }}" value="{{ choice.0 }}" id="{{ field.auto_id }}_{{ forloop.counter }}" {% if choice.0 in field.value %}checked{% endif %}>
                                        <label for="{{ field.auto_id }}_{{ forloop.counter }}">{{ choice.1 }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    </div>
    {% endblock content %}