{% extends "snowReview/base_template.html" %}
{% load static %}

<style>
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
    }
    .btn-group .btn {
        margin: 100px;
        padding: 100px; 
        

    }

</style>


{% block content %}

<div class="card mb-2 bg-light">

    <h1 class="title container text-center">
        Snowboard Guide
        </h1>
    <p class="text-center">
        This guide will help you filter for boards that meet your specifications then you can look at the various boards that meet your criteria.
    </p>
</div>
<div class="card mb-2 bg-light">

    <form method="get" action="{% url 'snowboard' %}">
        {% csrf_token %}
        
        <div style="display: flex; align-items: center;">
            <span style="margin-right: 10px; padding-left: 20px;" class="subtitle">Skill:</span>
            <div class="btn-group" data-toggle="buttons" style="padding: 40px;">
                {% for choice in form.rider.field.choices %}  <!-- Changed 'skill' to 'rider' -->
                    <label class="btn {% if choice.0 in form.rider.value %}active{% endif %}">  <!-- Changed 'skill' to 'rider' -->
                        <input type="radio" name="{{ form.rider.name }}" id="{{ form.rider.auto_id }}_{{ forloop.counter }}" value="{{ choice.0 }}" {% if choice.0 in form.rider.value %}checked{% endif %}>  <!-- Changed 'skill' to 'rider' -->
                        {{ choice.1 }}
                    </label>
                {% endfor %}
            </div>
        </div>
        
        {{ form.shape.as_p }}
        {{ form.profile.as_p }}

    <div style="display: flex; align-items: center;">
        <span style="margin-right: 10px; padding-left: 20px;" class="subtitle">Terrain:</span>
        <div class="btn-group" data-toggle="buttons">
            {% for choice in form.terrain.field.choices %}
                <label class="btn {% if choice.0 in form.terrain.value %}active{% endif %}">
                    <input type="checkbox" name="{{ form.terrain.name }}" id="{{ form.terrain.auto_id }}_{{ forloop.counter }}" value="{{ choice.0 }}" {% if choice.0 in form.terrain.value %}checked{% endif %}>
                    {{ choice.1 }}
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-3 mt-3">Search</button>
    </div>
        
    </form>
</div>
{% endblock %}