{% extends "snowReview/base_template.html" %}

{% block content %}
    <style>
    .card {
        display: flex;
        justify-content: center;
        align-items: left;
        padding: 20px;
    }
    </style>
    <h1 class="title">
        Snowboards
    </h1>
    {% if user.is_authenticated and profile.is_reviewer %}
        <a href="{% url 'snowboard-add' %}" class="btn btn-primary mb-3 text-left back-button">Add Snowboard</a>
    {% endif %}

    <div class="card mb-4 bg-light">
        <div class="row">
            <!-- form for paginator drop down-->
            <form method="get"  style="padding-bottom: 20px;">
                <label for="items_per_page" style="font-size: 1.2em; color: #333; font-weight: bold;">Items per page:</label>
                <select name="items_per_page" id="items_per_page" onchange="this.form.submit()">
                    <!-- Option for 10 items per page. It is selected if the current items_per_page parameter is "10". -->
                    <option value="10" {% if request.GET.items_per_page == "10" %}selected{% endif %}>10</option>
                    <option value="20" {% if request.GET.items_per_page == "20" %}selected{% endif %}>20</option>
                </select>
            </form>
            {% for snowboard in page_obj %}
                <div class="col-md-4 mx-auto">
                    <div class="card mb-4 bg-white" style="width: 18rem;">
                        <div class="tooltip-container">
                            <a href="{{ snowboard.get_absolute_url }}">
                                <img class="card-img-top snowboard-image" src="{{ snowboard.image.url }}" alt="{{ snowboard.name }}">
                            </a>
                            <div class="tooltip-text">
                                Shape: {{ snowboard.shape }}<br>
                                Skill: {{ snowboard.rider }}<br>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title center-text">
                                <a href="{{ snowboard.get_absolute_url }}">
                                    {{ snowboard.name }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <p>No snowboards available.</p>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %} <!-- If there are previous pages -->
                        <!-- Link to the first page. The items_per_page parameter is preserved. -->
                        <a href="?page=1&items_per_page={{ request.GET.items_per_page }}">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}&items_per_page={{ request.GET.items_per_page }}">previous</a>
                    {% endif %}

                    <!-- Display the current page number and the total number of pages -->
                    <span class="current">
                        {% if page_obj.paginator.num_pages == 0 %}
                            Page 1 of 1
                        {% else %}
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        {% endif %}
                    </span>
                    {% if page_obj.has_next %}
                        <!-- Link to the next page -->
                        <a href="?page={{ page_obj.next_page_number }}&items_per_page={{ request.GET.items_per_page }}">next</a>
                        <!-- Link to the last page -->
                        <a href="?page={{ page_obj.paginator.num_pages }}&items_per_page={{ request.GET.items_per_page }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}