{% extends 'snowReview/base_template.html' %}
{% load multiply %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
.board-title {
    font-family: "Shadows Into Light", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    }

    .skill-icon {
        font-size: 2em;
    }
    .progress-container {
        width: 50%;
        line-height: 50%;

    }
    .custom-width {
        width: 50%; /* Change this to the width you want */
    }

    .progress-label-start {
        position: relative;
        left: 0;
        top: 5px; 
    }

    .progress-label-end {
        position: relative;
        right: 0;
        top: 5px; 
        text-align: right;
    }
    .progress-bar {
        background-color: #d67609;
    }

    .progress-label-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        opacity: 0.7;
    }
    .flex-container {
        display: flex;
        align-items: center;
    }
    
    .flex-label {
        margin-right: 10px; 
    }
    .back-button {
        background-color: black;
        border-color: black;
        outline: none !important;
        }
        .back-button:hover, .back-button:focus, .back-button:active {
        background-color: #d67609;
        border-color: #d67609;
        outline: none !important;
        }
    

</style>
<a href="{% url 'snowboard-list' %}" class="btn btn-primary mt-3 text-left back-button">View all Snowboards</a>

{% if user.is_authenticated and user.is_staff %}
    <button type="button" class="btn btn-danger mt-3 text-left delete-button" data-toggle="modal" data-target="#deleteModal">Delete Snowboard</button>
{% endif %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this snowboard?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'delete-snowboard' snowboard.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title board-title">{{ snowboard.name }}</h5>
        <div class="row">
            <div class="col-md-6 pt-5 custom-font" >
                <p><strong>Season:</strong> {{ snowboard.season }}</p>
                <p><strong>Shape:</strong>
                    {{ snowboard.shape }}
                    {% if snowboard.shape == "Directional" %}
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="The nose is wider than the tail, giving you plenty of float in powder and stability at high speeds.">
                            <i class="bi bi-question-circle"></i>
                        </span>
                    {% elif snowboard.shape == "Twin" %}
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="The nose and tail are identical in shape and flex, which makes it easy to ride switch.">
                            <i class="bi bi-question-circle"></i>
                        </span>
                    {% elif snowboard.shape == "Directional Twin" %}
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="The nose is slightly longer than the tail, giving you plenty of float in powder and stability at high speeds.">
                            <i class="bi bi-question-circle"></i>
                        </span>
                    {% elif snowboard.shape == "True Twin" %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="These boards are meant to feel the same when you ride switch or regular. They are great for park riding and street shredding.">
                        <i class="bi bi-question-circle"></i>
                    </span>
                    {% endif %}
                </p>
                <p><strong>Terrain:</strong> 
                    {% for terrain in snowboard.terrain.all %}
                        {{ terrain.name }}
                        {% if terrain.name == "Freestyle" %}
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Light, short and flexible. Limited edge grip and are not stable enough for carving turns and travelling fast.">
                                <i class="bi bi-question-circle"></i>
                            </span>
                        {% elif terrain.name == "All-Mountain" %}
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Designed to perform well anywhere on the mountain. Floats well on powder surfaces, carves on the pistes and handle lumps and bumps.">
                                <i class="bi bi-question-circle"></i>
                            </span>
                        {% elif terrain.name == "Freeride" %}
                            <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Focuses on riding natural or ungroomed terrain outside of resort boundaries in either the side country or backcountry areas.<br><br>Usually stiffer and longer than freestyle. The stiffness gives them quicker response times edge to edge.">
                                <i class="bi bi-question-circle"></i>
                            </span>
                        {% elif terrain.name == "Powder" %}
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Soft to medium flex, allowing you to make precise, technical turns at lower speeds while still being able to deliver a solid, responsive ride when you open up the throttle.">
                                <i class="bi bi-question-circle"></i>
                            </span>
                        {% endif %}
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No terrain specified
                    {% endfor %}
                </p>            
                <p><strong>Profile:</strong> {{ snowboard.profile }}</p>
                <p><strong>Rider:</strong> 
                {% if snowboard.rider == "Expert" %}
                <span class="d-inline-block border rounded py-2 px-3 text-center">
                    <i class="bi bi-suit-diamond-fill text-dark skill-icon"></i><br>
                    {{ snowboard.rider }}
                </span>
                {% elif snowboard.rider == "Intermediate" %}
                    <span class="d-inline-block border rounded py-2 px-3 text-center">
                        <i class="bi bi-square-fill text-primary skill-icon"></i><br>
                        {{ snowboard.rider }}
                    </span>
                {% elif snowboard.rider == "Beginner" %}
                    <span class="d-inline-block border rounded py-2 px-3 text-center">
                        <i class="bi bi-circle-fill text-success skill-icon"></i><br>
                        {{ snowboard.rider }}
                    </span>
                {% else %}
                    <span>{{ snowboard.rider }}</span>
                {% endif %}

            <!-- Rider tooltip-->
                {% if snowboard.rider == "Expert" %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Expert: You are comfortable riding at speed. You have mastered multiple turn types. Riding switch has become second nature too.">
                    <i class="bi bi-question-circle"></i>
                </span>
                {% elif snowboard.rider == "Intermediate" %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Intermediate: You can attempt black runs - but it's not always pretty! You are getting better at navigating more uneven terrain.">
                    <i class="bi bi-question-circle"></i>
                </span>
                {% elif snowboard.rider == "Beginner" %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Beginner: You are brand new. You start out learning how to control your speed and get some distance down a slope without bailing!">
                    <i class="bi bi-question-circle"></i>
                </span>
                {% else %}
                    <span>{{ snowboard.rider }}</span>
                {% endif %}
                </p >
                <div class="flex-container">
                    <div class="flex-label"><strong>Flex:</strong></div>
                    <div class="progress-container">
                        <div class="progress position-relative">
                            <div class="progress-bar" role="progressbar" style="width: {{ snowboard.flex|multiply:"10" }}%;" aria-valuenow="{{ snowboard.flex }}" aria-valuemin="0" aria-valuemax="10"></div>
                            <div class="progress-label-center" style="padding-top: 4px;"><strong>{{ snowboard.flex }}/10</strong></div>
                        </div>
                        <div class="progress-label-start">Soft</div>
                        <div class="progress-label-end">Firm</div>
                    </div>
                    <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Softer: Much more sensitive to user input, so they work well for softer or bumpier snow surfaces.<br><br>Stiffer: Increased edge grip and faster response at high speeds.">
                        <i class="bi bi-question-circle"></i>
                    </span>
                    <script>
                    $(function () {
                        $('[data-bs-toggle="tooltip"]').tooltip()
                    })
                    </script>
                </div>
                <!-- size -->
                <p style="padding-top: 14px;"><strong>Sizes:</strong> 
                {% for size in snowboard.sizes.all %}
                    {{ size.size }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
                
                {% if snowboard.brand_image %}
                    <div>
                        <strong>Brand:</strong> <img src="{{ snowboard.brand_image.url }}" class="img-fluid" alt="{{ snowboard.brand }}">
                    </div>
                {% else %}
                {% endif %}
                <p><strong>Description:</strong> {{ snowboard.desc }}</p>
            </div>
            <div class="col-md-6">
                {% if snowboard.image %}
                    <img src="{{ snowboard.image.url }}" class="img-fluid" alt="{{ snowboard.name }}">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Reviews-->
<div class="accordion" id="accordionReviews">
    <div class="card mt-4">
        <div class="card-header" id="headingReviews">
            <h5 class="mb-0 board-title card-title">
                <button type="button" data-toggle="collapse" data-target="#collapseReviews" aria-expanded="true" aria-controls="collapseReviews" style=" background: none; border: none; padding: 0; font-weight: 600; color: inherit; text-align: inherit; text-decoration: underline;">
                    (Reviews)
                </button>
            </h5>
        </div>
        <div id="collapseReviews" class="collapse" aria-labelledby="headingReviews" data-parent="#accordionReviews">
            <div class="card-body custom-font" id="reviews">
                {% for review in snowboard.review_set.all %}
                    <div class="card mt-4">
                        <p><strong>Board Size:</strong> {{ review.boardSize }}</p>
                        <p><strong>Date:</strong> {{ review.date }}</p>
                        <p><strong>Conditions:</strong> {{ review.conditions }}</p>
                        <p><strong>Snow in the last 24 hours:</strong> {{ review.snow24 }}</p>
                        <p><strong>Snow in the last 7 days:</strong> {{ review.snow7 }}</p>
                        <p><strong>Rider Height:</strong> {{ review.riderHeight }}</p>
                        <p><strong>Rider Weight:</strong> {{ review.riderWeight }}</p>
                        <small><i class="fas fa-user"></i> {{ review.reviewer.user.username }}</small>
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p style="font-size: 0.8em;"><strong>Updated:</strong> {{ review.updated_at }}</p>
                            {% if user == review.reviewer.user or user.is_staff %}
                            <div>
                                <a href="{% url 'edit-review' review.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteReviewModal">Delete</button>
                            </div>
                        {% endif %}
                        <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalReviewLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalReviewLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this review?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete-review' review.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="custom-font">
                        No reviews yet.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Review Form for authenticated users -->
{% if user.is_authenticated and user.profile.is_reviewer %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title board-title">Add a Review</h5>
            <a href="{% url 'add-review' snowboard.id %}" class="btn btn-primary mt-3 text-left back-button">Add Review</a>
        </div>
    </div>
{% endif %}
<!-- Comments -->
<div class="accordion" id="accordionComments">
    <div class="card mt-4">
        <div class="card-header" id="headingComments">
            <h5 class="mb-0 board-title card-title">
                <button type="button" data-toggle="collapse" data-target="#collapseComments" aria-expanded="true" aria-controls="collapseComments" style=" background: none; border: none; padding: 0; font-weight: 600; color: inherit; text-align: inherit; text-decoration: underline;">
                    (Comments)
                </button>
            </h5>
        </div>
        <div id="collapseComments" class="collapse" aria-labelledby="headingComments" data-parent="#accordionComments">
            <div class="card-body custom-font">
                {% for comment in snowboard.comment_set.all %}
                    <div class="card mt-4">
                        <p style="padding-left: 10px">{{ comment.comment_text }}</p>
                        <small><i class="fas fa-user"></i> {{ comment.user.username }}</small>
                        <p style="font-size: 0.8em;"><strong>Updated:</strong> {{ comment.updated_at }}</p>
                        {% if user == comment.user or user.is_staff %}
                            <div>
                                <a href="{% url 'edit-comment' comment.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCommentModal">Delete</button>
                            </div>
                        {% endif %}
                        <div class="modal fade mt-4" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalCommentLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalCommentLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this comment?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete-comment' comment.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Comment Form for authenticated users -->
{% if user.is_authenticated %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title board-title">Add a Comment</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.comment_text }}
                {% if comment %}
                    <button type="submit" formaction="{% url 'edit-comment' comment.id %}" class="btn btn-primary mt-3 text-left back-button">Update</button>
                {% else %}
                    <button type="submit" formaction="{% url 'add-comment' snowboard.id %}#accordionComments" class="btn btn-primary mt-3 text-left back-button">Post</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endif %}
<!-- for keeping scroll positions after comment submissions-->
{% if messages %}
    <script>
        window.location.hash = '#accordionComments';
    </script>
{% endif %}

{% if review_posted %}
    <script>
        window.location.hash = '#accordionReviews';
    </script>
{% endif %}
{% endblock %}