{% extends "snowReview/base_template.html" %}

{% block content %}
    <h1>Snowboards</h1>
    <style>
    .snowboard-image {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .center-text {
        text-align: center;
        }
    </style>
    <div class="row">
    {% for snowboard in object_list %}
        <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top snowboard-image" src="{{ snowboard.image.url }}" alt="{{ snowboard.name }}">
                <div class="card-body">
                    <h5 class="card-title center-text">
                        <a href="{{ snowboard.get_absolute_url }}">
                            {{ snowboard.name }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <p>No snowboards available.</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}